.main-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: var(--bg-elevated-1); /* 전체 배경 */


  &__body {
    flex: 1;
    display: flex;
    overflow: hidden;
  }

  &__content {
    flex: 1;
    padding: 40px 80px 0 80px; 
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  &__sidebar {
    height: calc(100vh - 60px);
  }
}
