@use '../../styles/mixins' as *;
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 20px;
  background: var(--bg-1);
  border-bottom: 1px solid var(--border-4);
  height: 60px;

  &__logo {
    display: flex;
    align-items: center;

    &-img {
      width: 100px;
      height: auto;
    }

    .header__appname {
      font-size: 0;
      line-height: 0;
    }
  }

  &__controls {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__mode-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: none;
    background: var(--bg-disabled);
    cursor: pointer;

    &:hover {
      background: var(--bg-point-1);
    }

    .header__icon {
      width: 18px;
      height: 18px;
    }
  }

  &__user {
    display: flex;
    align-items: center;
    gap: 2px;

    &-icon {
      width: 20px;
  height: 20px;
    }

    .header__username {
      @include body1($font-weight-normal);
      color: var(--text-1);

      em {
        @include body1($font-weight-bold);
      }
    }
  }
}
