@use '../../styles/mixins' as *;


.workboard-content {
  &--1,
  &--2 {
    background: var(--bg-1);
    padding: 36px 40px;
    gap: 16px;
    box-shadow: var(--shadow-lg);
  }

  &--1 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
  }

  &--2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px 24px; // row-gap, col-gap
  }


  &--image {
    display: flex;
    align-items: center;
    height: 100%;

    img {
      display: block;
      max-width: 100%;
      height: auto;
      margin: 0 auto; // 중앙 정렬
    }
  }
}
