.workfield {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 16px;

  &__label {
    font-size: 14px;
    font-weight: 500;
    color: #555;
  }

  &__body {
    // 안에는 TextField, TagField, img 등 자유롭게 들어감
  }
}
