@use '../../styles/mixins' as *;
.form-section {

  &__title {
    @include body1($font-weight-bold);
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 16px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}
