@use '../../styles/mixins' as *;

.tag-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  
}

.tag {
  display: flex;
  gap: 10px;
  align-items: flex-start; 
  flex-direction: column;

  &__header {
    flex-shrink: 0; // 줄어들지 않음
    min-width: fit-content; // 고정 or 최소 너비
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 5px 10px;
    border-radius: 8px;
    background-color: #EAEDF3;
    
  }

  &__icon {
    width: 16px;
    height: 16px;
  }

  &__label {
    @include body2($font-weight-medium);
    color: #464c55;
  }

  &__content {
    flex: 1; 
    @include body1($font-weight-medium);
    word-break: keep-all; 
    white-space: normal; 
    padding-left: 18px; // li 들여쓰기
    position: relative;
    &::before {
      position: absolute;
      top: 50%;
      left: 4px;
      transform: translateY(-50%);
      background: #5F6775;
      border-radius: 50%;
      width: 5px;
      height: 5px;
      content: "";
    }
    margin-bottom: 4px;
  }
}
