@use '../../styles/mixins' as *;

.accordion {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.accordion-item {
  border-radius: 8px;
  overflow: hidden;
  border: 1.5px solid var(--primary-2);

  &__header {
    @include body1($font-weight-medium);
    width: 100%;
    padding: 12px 22px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }

  &__icon {
    transition: transform 0.2s ease;
    color: currentColor; 
    &.rotate {
      transform: rotate(180deg);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 16px 22px 20px 22px;
    background: var(--primary-3);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  // &.is-open {
  //   border: 1.5px solid transparent;
  // }
  &.is-open {
    border: 1.5px solid transparent;
  }
  &.is-open .accordion-item__header {
    background: var(--primary-1);
    border-radius: 0;
    color: #fff;
  }

  &.is-open .accordion-item__icon {
    transform: rotate(180deg);
  }
 
}
