@use '../../styles/mixins' as *;

.label {
  @include body2($font-weight-medium);
  color: var(--color-semantic-label-neutral);
  display: inline-block;
  width: 124px;

  &__required {
    color: red;
    margin-left: 2px;
  }
}