@use '../../styles/mixins' as *;

.label {
  @include body2($font-weight-medium);
  
  color: var(  --text-2 );
  display: inline-block;
  width: 124px;

  &__required {
    color: red;
    margin-left: 2px;
  }
}