// 기본 flex 박스
@mixin flex($justify: center, $align: center, $direction: row, $wrap: nowrap) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
  flex-wrap: $wrap;
}

// flex-center: 자주 쓰는 중앙정렬
@mixin flex-center {
  @include flex(center, center);
}

// flex-column
@mixin flex-column {
  @include flex($direction: column);
}

// flex-between
@mixin flex-between {
  @include flex(space-between, center);
}


/* ==============================
   Typography System (Mixin)
   ============================== */

/* Font weight variables */
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;


/* Body 1 */
@mixin body1($weight: $font-weight-normal) {
  font-size: 16px;
  line-height: 150%;
  font-weight: $weight;
}

/* Body 2 */
@mixin body2($weight: $font-weight-normal) {
  font-size: 15px;
  line-height: 146.7%;
  font-weight: $weight;
}

/* Label 1 */
@mixin label1($weight: $font-weight-normal) {
  font-size: 14px;
  line-height: 142.9%;
  font-weight: $weight;
}

/* Heading 2 */
@mixin heading2($weight: $font-weight-normal) {
  font-size: 20px;
  line-height: 140%;
  font-weight: $weight;
}

/* Headline 1 */
@mixin headline1($weight: $font-weight-normal) {
  font-size: 18px;
  line-height: 144.5%;
  font-weight: $weight;
}