:root[data-theme="dark"] {
	/* Static */
	--color-semantic-static-white: #ffffff;
	--color-semantic-static-black: #171719;

	/* Primary */
	--color-semantic-primary-normal: #1975ff;

	/* Label */
	--color-semantic-label-neutral: #838386;
	--color-semantic-label-normal: #ffffff; /* opacity 50%까지 UI단에서 조절 */
	--color-semantic-label-strong: #838386;

	/* Background */
	--color-semantic-background-normal: #0d0d0d;
	--color-semantic-background-alternative: #171717;
	--color-semantic-background-elevated-normal: #1d1d1d;
	--color-semantic-background-elevated-alternative: #272727;
	--color-semantic-background-point-normal: #1a1a1a;
	--color-semantic-background-point-alternative: #171717;
	--color-semantic-background-input-normal: #101010;

	/* Fill */
	--color-semantic-fill-icon-normal: #b1b1b1;
	--color-semantic-fill-icon-alternative: #a6b1c5;

	/* Line */
	--color-semantic-line-normal: #303840;
	--color-semantic-line-alternative: #27292a;
	--color-semantic-line-neutral: #303030;
	--color-semantic-line-solid-normal: #1f2122;

	/* Inverse */
	--color-semantic-inverse-label: #171719;
	--color-semantic-inverse-background: #171719;

	/* Button - Primary */
	--color-semantic-btn-primary-normal: #1a75ff;
	--color-semantic-btn-primary-hover: #0066ff;
	--color-semantic-btn-primary-focus: #005ce5;
	--color-semantic-btn-primary-disabled: #a6b1c5;

	/* Button - Secondary */
	--color-semantic-btn-secondary-normal: #0d0d0d;
	--color-semantic-btn-secondary-hover: #161616;
	--color-semantic-btn-secondary-focus: #1b1b1b;
	--color-semantic-btn-secondary-disabled: #a6b1c5;

	--color-semantic-btn-secondary-border: #303030;
}
