:root[data-theme="dark"] {
/* 주요 색상 */
  --primary: #1A75FF;
  --primary-1: #3385FF;
  --primary-2: #5c759e;
  --primary-3: #1B1D1E;

  /* 텍스트 */
  --text-1: #ffffff;         /* 기본 텍스트 */
  --text-2: #838386;         /* 보조 텍스트 */
  --text-3: rgba(255,255,255,.5);         /* 강한 텍스트 (보조와 동일값 사용) */
  --text-4: #f0f0f0;
  --text-5: rgba(152, 155, 162,.16);

  /* 배경 */
  --bg-1: #0d0d0d;           /* 기본 배경 */
  --bg-2: rgba(36, 36, 36, 100);           /* 보조 배경 */
  --bg-3: #272727;           /* 보조 배경 */
  --bg-elevated-1: #1d1d1d;   /* 떠있는 요소 배경 1 */
  --bg-elevated-2: #272727;   /* 떠있는 요소 배경 2 */
  --bg-point: #1a1a1a;        /* 포인트 배경 */
  --bg-point-1: #3A3D42; 
  --bg-input: #101010;        /* 입력창 배경 */
  --bg-default: #303235;        
  --bg-semantic: #111417;  
  --bg-disabled: #2E2F33;  


  /* 라인/테두리 */
  --border-1: #303840;       /* 기본 테두리 */
  --border-2: #27292a;       /* 연한 테두리 */
  --border-3: #303030;       /* 중립 테두리 */
  --border-4: #1f2122;       /* 강한 테두리 */
  --border-5: #495057;  
  
  /* 반전 색상 */
  --inverse-text: #171719;
  --inverse-bg: #ffffff;      /* 라이트모드 컴포넌트용 배경 */
  --inverse-bg: #eeeeee;      /* 다크모드 컴포넌트용 배경 */

  /* Button - Primary */
  --color-semantic-btn-primary-normal: #1a75ff;
  --color-semantic-btn-primary-hover: #0066ff;
  --color-semantic-btn-primary-focus: #005ce5;
  --color-semantic-btn-primary-disabled: #a6b1c5;

  /* Button - Secondary */
  --color-semantic-btn-secondary-normal: #0d0d0d;
  --color-semantic-btn-secondary-hover: #1d1d1d;
  --color-semantic-btn-secondary-focus: #202020;
  --color-semantic-btn-secondary-disabled: #a6b1c5;
  --color-semantic-btn-secondary-border: #565656;

  --shadow-focus-primary: 0 0 0 2px color-mix(in srgb, var(--primary), transparent 30%);

 --shadow-combined:
    0 2px 4px rgba(0, 0, 0, 0.4),       /* 작은 바깥 그림자 → 진하게 */
    0 4px 8px rgba(0, 0, 0, 0.4),       /* 중간 바깥 그림자 → 진하게 */
    inset 0 2px 4px rgba(255, 255, 255, 0.12); /* ✨ 이너 그림자 → 밝게 */
  --shadow-md: -2 0 16px rgba(0, 0, 0, 0.16);
  --shadow-lg: 0 0 20px rgba(0, 0, 0, 0.4); /* 요청 주신 값 */
}
