<!DOCTYPE html>
<html lang="ko" data-theme="light">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Header Component</title>

  <!-- 공통 스타일 -->
  <link rel="stylesheet" href="../../css/main.css">

  <!-- Header 전용 -->
  <link rel="stylesheet" href="./header.css">
</head>
<body>

  <header class="header">
    <div class="header__logo">
      <img src="../../images/labelon_logo.svg" alt="Logo" class="header__logo-img" />
      <span class="header__appname">Label ON</span>
    </div>

    <div class="header__controls">
      <div class="header__user">
        <img src="../../images/icons/icon-user.svg" alt="user" class="header__user-icon" />
        <span class="header__username"><em>천수희</em>님</span>
      </div>
      <button class="header__mode-btn" aria-label="모드 전환">
        <img src="../../images/icons/moon.svg" alt="다크 모드" class="icon-moon header__icon">
        <img src="../../images/icons/sun.svg" alt="라이트 모드" class="icon-sun header__icon">
      </button>
    </div>
  </header>

</body>
</html>