<!DOCTYPE html>
<html lang="ko" data-theme="light">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WorkBoardContent Component</title>

  <!-- 공통 스타일 -->
  <link rel="stylesheet" href="../../../css/main.css">

  <!-- WorkBoardContent 전용 -->
  <link rel="stylesheet" href="./workboard-content.css">
  <link rel="stylesheet" href="../../Tag/tag.css">
  <link rel="stylesheet" href="../../TextField/textfield.css">
  <link rel="stylesheet" href="../../TagField/tagfield.css">
</head>
<body>

    <!-- WorkBoardContent -->
   <div class="workboard-content workboard-content--2">
      <div class="tag-field tag-field--column">
        <div class="tag tag--default">
          <div class="tag__header"><span class="tag__label">인증/등록번호</span></div>
        </div>
        <textarea rows="1" class="textfield__input textfield__input--default">ABC-12345</textarea>
      </div>

      <div class="tag-field tag-field--column">
        <div class="tag tag--default">
          <div class="tag__header"><span class="tag__label">기자재 명칭</span></div>
        </div>
        <textarea rows="1" class="textfield__input textfield__input--default">스마트폰</textarea>
      </div>

      <div class="tag-field tag-field--column">
        <div class="tag tag--default">
          <div class="tag__header"><span class="tag__label">제조국가</span></div>
        </div>
        <textarea rows="1" class="textfield__input textfield__input--default">대한민국</textarea>
      </div>

        <div class="tag-field tag-field--column">
        <div class="tag tag--default">
          <div class="tag__header"><span class="tag__label">인증/등록번호</span></div>
        </div>
        <textarea rows="1" class="textfield__input textfield__input--default">ABC-12345</textarea>
      </div>

      <div class="tag-field tag-field--column">
        <div class="tag tag--default">
          <div class="tag__header"><span class="tag__label">기자재 명칭</span></div>
        </div>
        <textarea rows="1" class="textfield__input textfield__input--default">스마트폰</textarea>
      </div>

      <div class="tag-field tag-field--column">
        <div class="tag tag--default">
          <div class="tag__header"><span class="tag__label">제조국가</span></div>
        </div>
        <textarea rows="1" class="textfield__input textfield__input--default">대한민국</textarea>
      </div>
        <div class="tag-field tag-field--column">
        <div class="tag tag--default">
          <div class="tag__header"><span class="tag__label">인증/등록번호</span></div>
        </div>
        <textarea rows="1" class="textfield__input textfield__input--default">ABC-12345</textarea>
      </div>

      <div class="tag-field tag-field--column">
        <div class="tag tag--default">
          <div class="tag__header"><span class="tag__label">기자재 명칭</span></div>
        </div>
        <textarea rows="1" class="textfield__input textfield__input--default">스마트폰</textarea>
      </div>

      <div class="tag-field tag-field--column">
        <div class="tag tag--default">
          <div class="tag__header"><span class="tag__label">제조국가</span></div>
        </div>
        <textarea rows="1" class="textfield__input textfield__input--default">대한민국</textarea>
      </div>
        <div class="tag-field tag-field--column">
        <div class="tag tag--default">
          <div class="tag__header"><span class="tag__label">인증/등록번호</span></div>
        </div>
        <textarea rows="1" class="textfield__input textfield__input--default">ABC-12345</textarea>
      </div>

      <div class="tag-field tag-field--column">
        <div class="tag tag--default">
          <div class="tag__header"><span class="tag__label">기자재 명칭</span></div>
        </div>
        <textarea rows="1" class="textfield__input textfield__input--default">스마트폰</textarea>
      </div>

      <div class="tag-field tag-field--column">
        <div class="tag tag--default">
          <div class="tag__header"><span class="tag__label">제조국가</span></div>
        </div>
        <textarea rows="2" class="textfield__input textfield__input--default">대한민국</textarea>
      </div>
    </div>

  <br>

  <!-- Image Mode -->
  <div class="workboard-content workboard-content--image">
    <img src="../../../images/sample-image.png" alt="샘플 이미지" />
  </div>

</body>
</html>